<include file="Common:header"/>
    <div id="dcMain">
        <!-- 当前位置 -->
        <div id="urHere">谋趣 管理中心<b>></b><strong>网站管理员</strong> </div>   <div id="manager" class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
        <h3><a href="manager.html" class="actionBtn">返回列表</a>网站管理员</h3>
        <form action="{:U('Admin/edit_manager')}" method="post">
            <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
                <tr>
                    <td width="100" align="right">管理员名称</td>
                    <td>
                        <input type="hidden" name="id" value="{$admin.id}" size="40" class="inpMain" />
                        <input type="text" name="username" value="{$admin.username}" size="40" class="inpMain" />
                    </td>
                </tr>
                <tr>
                    <td width="100" align="right">E-mail地址</td>
                    <td>
                        <input type="text" name="email" value="{$admin.email}" size="40" class="inpMain" />
                    </td>
                </tr>
                <tr>
                    <td align="right">输入原密码</td>
                    <td>
                        <input type="password" name="password1" size="40" class="inpMain" />
                    </td>
                </tr>
                <tr>
                    <td align="right">输入新密码</td>
                    <td>
                        <input type="password" name="password" size="40" class="inpMain" />
                    </td>
                </tr>
                <tr>
                    <td align="right">确认密码</td>
                    <td>
                        <input type="password" name="password2" size="40" class="inpMain" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" name="submit" class="btn" value="提交" />
                    </td>
                </tr>
            </table>
        </form>
    </div>
    </div>
<include file="Common:footer"/>