<include file="Common:header"/>
    <div id="dcMain">
        <!-- 当前位置 -->
        <div id="urHere">谋趣 管理中心<b>></b><strong>网站管理员</strong> </div>   <div id="manager" class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
        <h3><a href="{:U('Admin/add_manager')}" class="actionBtn">添加管理员</a>网站管理员</h3>
        <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
            <tr>
                <th width="30" align="center">编号</th>
                <th align="left">管理员名称</th>
                <th align="center">E-mail地址</th>
                <th align="center">添加时间</th>
                <th align="center">最后登录时间</th>
                <th align="center">操作</th>
            </tr>
            <volist name="admin" id="admin">
            <tr>
                <td align="center">{$admin.id}</td>
                <td>{$admin.username}</td>
                <td align="center">{$admin.email}</td>
                <td align="center">{$admin.created_at}</td>
                <td align="center">{$admin.login_log}</td>
                <td align="center"><a href="{:U('Admin/editor_manager')}?id={$admin.id}">编辑</a> |
                    <a href="{:U('Admin/manager_delete')}?id={$admin.id}">删除</a></td>
            </tr>
                </volist>
        </table>
        <div class="page1">
            {$pager->show()}
        </div>
    </div>
    </div>
<include file="Common:footer"/>